* {text-align: right;}
.header-title {text-align: center;}
.avatar {float: right; margin-right: 0; margin-left: 20px;}
.nav li {float: right;}

/*************************************************************************************************************************
Screen smaller than 680px
*************************************************************************************************************************/
@media all and (max-width: 680px) {

}

/*************************************************************************************************************************
Screen between 681px and 980px
*************************************************************************************************************************/
@media all and (min-width: 681px) and (max-width: 980px) {

  .section {float: right; width: 64%; margin: 4% 2% 2% 0;}
  .aside {float: left; width: 30%; margin: 4% 0 2% 2%;}

}

/*************************************************************************************************************************
Screen larger than 981px
*************************************************************************************************************************/
@media all and (min-width: 981px) {

  .section {float: right; width: 640px; margin: 40px 20px 20px 0;}
  .aside {float: left; width: 300px; margin: 40px 0 20px 20px;}

  .responsiveslides-half {width: 640px; min-height: 480px; float: right;}
  .newsletter-half {width: 300px; min-height: 480px; float: left;}

}